<a href="https://colab.research.google.com/github/swarnakumarreddy/Test5_Jun28/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# If condition was true
language = 'Python'
if language == "Python":
    print('The Conditional was True')

# Elif Statement
a = 100
b = 100
if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')
else:
    print('a is greater than b')

# If else statement
if language == "Java":
    print('Language is python')
else:
    print('No match')

The Conditional was True
a and b are equal
No match

In [2]:
val1 = 2
val2 = 3

# using the addition operator
count = val1 + val2
print(count)

num1 = 5
num2 = 3

# using the subtraction operator
res = num1 - num2
print(res)

num_1 = 2
num_2 = 3

# using the multiplication operator
a = num_1 * num_2
print(a)

a1 = 3
a2 = 2

# using the division operator
c = a1 / a2
print(c)

b1 = 3
b2 = 2

# using the modulus operator
d = b1 % b2
print(d)

c1 = 2
c2 = 3

# using the exponentiation operator
e = c1 ** c2
print(e)

f1 = 3
f2 = 2

# using the floor division
g = f1 // f2
print(g)

5
2
6
1.5
1
8
1

In [3]:

# To create an array of numeric values, we need to import the array module.
import array as arr
a = arr.array('d', [1.1, 3.5, 4.5])
print(a)

# To loop through all the elements of an array
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

array('d', [1.1, 3.5, 4.5])
Ford
Volvo
BMW

In [4]:
# And Operator
user = 'admin'
login = True
if user == 'admin' and login:
    print('admin page')
else:
    print('page cannot be displayed')

# Or Operator
user = 'admin'
login = True
if user == 'admin' or login:
    print('admin page')
else:
    print('page cannot be displayed')

# Not Operator
user = 'admin'
login = False
if not login:
    print('page cannot displayed')
else:
    print('Welcome admin')

admin page
admin page
page cannot displayed

In [5]:
Variable_1 = '20.75'
Variable_2 = '40.91'
Variable_1 = float(Variable_1)
Variable_2 = float(Variable_2)
print(Variable_1 + Variable_2)

61.66

In [6]:
# Create a class named MyClass,

class MyClass:
    x = 5


print(MyClass)

# Creating an object


class MyClass:
    x = 5


p1 = MyClass()
print(p1.x)

# Using the __init__() function to assign values for name and age


class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age


p1 = Person("Mark", 29)
print(p1.name)
print(p1.age)

<class '__main__.MyClass'>
5
Mark
29

In [7]:
a = 10
b = 20

# if two operands values are equal,then the condition becomes true.
print(a == b)

# if two operands values are not equal,then the condition becomes true.
print(a != b)

# if the value of left operand is greater than the value of right operand, then condition becomes true.
print(a > b)

# if the value of right operand is less than the value of right operand, then condition becomes true.
print(a < b)

# if the value of left operand is greater than or equal to the value of right operand, then the condition becomes true.
print(a >= b)

# if the value of right operand is greater than or equal to the value of left operand, then condition becomes true.
print(a <= b)

False
True
False
True
False
True

In [8]:
# To get 'n' for each 'n in nums using List comprehension

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list = [n for n in nums]
print(my_list)

# 'n*n' for each 'n' in nums (List comprehension)

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list = [n*n for n in nums]
print(my_list)

# Using Dictionary comprehension
brand = ['Audi', 'Benz', 'BMW']
car = ['A4', 'CLS', 'X6']
my_dict = {brand: car for brand, car in zip(car, brand)}
print(my_dict)

# Using Set comprehension
nums = {1, 1, 2, 3, 4, 3, 5, 6, 7, 8, 7, 9}
my_set = {n for n in nums}
print(my_set)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
{'A4': 'Audi', 'CLS': 'Benz', 'X6': 'BMW'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2, my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]